.App {
  width: 100vw;
  height: 100vh;
}

#map {
  height: 100%;
}

.inputContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputTitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 8px;
}

.inputError {
  color: red;
  font-weight: 500;
  margin-bottom: 8px;
}

.inputBar {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
}

input {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 6px 8px;
}

button {
  border: 0;
  border-radius: 8px;
  background: darkgreen;
  color: white;
  padding: 0 12px;
}

.notVisited {
  filter: drop-shadow(0 0 8px #000);
}

.visited {
  filter: grayscale(90%);
}

.next {
  border: 4px solid red;
}